* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html,
body {
  min-height: 100vh;
  width: 100%;
}

.mainPage {
  min-height: 100vh;
  background-color: rgb(47, 42, 42);
  
  color: whitesmoke;
  padding: 30px;

 display: grid;

 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 gap: 20px;
 align-items: start;

  
}

.product {
  background-color: blue;
  padding: 20px;


  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;

  /* width: 250px; */
  border-radius: 12px;
  /* margin: 20px auto; */

  width: 100%;
}

.price p {
  line-height: 1.5;
}

.old-price{
  text-decoration: line-through;
  color: aliceblue;
}